/* navigation section  */
#navbar
{
    flex-direction: column;
}
#navbar ul li a
{
    font-size: 1rem;
    padding: 0px 7px;
}
/* home section  */
#home
{
    height: 620px;
 padding: 3px 70px ;
}
#home::before
{
    height: 480px;
  
}
#home p
{
    font-size: 13px;
}
/* service section  */
#services
{
    flex-direction: column;
}

#services .box
{

}
/* client section  */
#clients
{
    overflow: hidden;
}
/* contact section  */

/* footer  */

/* utility  */
.h-primary
{
    font-size: 26px;
}